<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <h1 class="text-danger">Index Web Pages</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control" name="url" id="url" placeholder="Enter URL">
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control" name="url" id="url" placeholder="Max # of pages">
                <span class="input-group-text" id="basic-addon1">< 500</span>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-2">
            <button class="btn btn-danger">Index Pages</button>
        </div>
    </div>
</div>